@model IEnumerable<ProyectoWebCursoLenguajes.Models.Carrito>
@{
    ViewData["Title"] = "verSubtotal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>verSubtotal</h1>
<hr/>
<p>Esta es una vista de Prueba para mostrar el subtotal</p>

<p>
    <a class="btn btn-dark btn-lg waves-effect" asp-area="" asp-controller="Venta" asp-action="factura">
        <i class="fa fa-shopping-cart grey-text">       Aceptar y Pagar</i>
    </a>
</p>